* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: hsl(0deg, 0%, 60%);
  font-size: 1.125rem;
}

/* Add styles here! */
h1, h2, h3 {
  margin: 0;
}

h1 { 
  font-size: 2rem; 
  font-weight: 900;
}

h2 {
  font-size: 1.5rem; 
  font-weight: 900;
}

p {
  font-size: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  background:  hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  margin-bottom: 128px;
}

.max-width-wrapper {
  background: hsl(0deg, 0%, 100%);
  max-width: 800px;
  margin: auto;
}

.intro-chunk {
  background: hsl(0deg, 0%, 100%);
  max-width: 500px;
  padding: 92px 40px;
}

.title {
  padding: 64px 0 32px 0;
}

.card {
  background: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 16px 32px;
}

.card p:last-child {
  margin-bottom: 0;
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 24px 40px;
  margin-left: -40px;
  margin-top: -8;
  max-width: fit-content;
}
